header {
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    margin-top: 0px;
  
      .item {
      display: inline-block;
      margin-right: 40px;
      margin-left: 35px;
      font-size: 30px;
      font-family: "Creepster", cursive;
      height: 30px;
      margin-bottom: 10px;
      color: $color-principal;
      font-weight: 800;
      border-color: black;
      text-decoration: none;
   }
  
      .titulo {
      position: relative;
      text-align: center;
      top: 45px;
      font-family: "Creepster", cursive;
      font-size: 80px;
      margin-bottom: 60px;
      margin-top: 15px;
      color: $color-principal;
      text-shadow: 10px 10px rgb(70, 6, 87);
    }
  
      a:hover {
      color: $color-terciario;
    }
}